.header {
  padding-top: 1.2rem;
  padding-bottom: 1.8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  column-gap: 1.5rem;
}

.navLink {
  grid-column: 1 / 3;
}

.form {
  all: unset;
  grid-column: 11 / -1;
  min-width: 20rem;
}

.link,
.link:visited,
.link:active,
.link:hover {
  color: #fff;
  font-size: 1.6rem;
}

.link__bold {
  font-family: boldFont;
}

.link__light {
  font-family: lightFont;
}
